<div class="continuum-container">
  <div class="admin-header">
    <h1>Edit Space: <%= @space.name %></h1>
  </div>

  <div style="max-width: 600px;">
    <%= render "form", space: @space %>
  </div>
</div>
