<button type="button"
        class="comparison-artwork"
        data-action="click->comparison#selectWinner"
        data-winner-id="<%= artwork.id %>"
        data-loser-id="<%= opponent.id %>">
  <% if artwork.file.attached? %>
    <% if artwork.video? %>
      <%= video_tag url_for(artwork.file), autoplay: true, loop: true, muted: true, playsinline: true, class: "comparison-image" %>
    <% else %>
      <%= image_tag artwork.file, class: "comparison-image", alt: artwork.title %>
    <% end %>
  <% end %>
</button>
