<div class="continuum-container">
  <h1>Exhibitions</h1>

  <% if @active_exhibitions.any? %>
    <div class="exhibition-grid">
      <% @active_exhibitions.each do |exhibition| %>
        <%= render partial: "card", locals: { exhibition: exhibition } %>
      <% end %>
    </div>
  <% end %>

  <% if @upcoming_exhibitions.any? %>
    <div class="exhibition-grid">
      <% @upcoming_exhibitions.each do |exhibition| %>
        <%= render partial: "card", locals: { exhibition: exhibition } %>
      <% end %>
    </div>
  <% end %>

  <% if @archived_exhibitions.any? %>
    <div class="exhibition-grid">
      <% @archived_exhibitions.each do |exhibition| %>
        <%= render partial: "card", locals: { exhibition: exhibition } %>
      <% end %>
    </div>
  <% end %>

  <% if @exhibitions.empty? %>
    <p class="empty-state">
      No exhibitions yet.
    </p>
  <% end %>
</div>
