<div class="continuum-container">
  <div class="admin-header">
    <h1>Edit Artist: <%= @artist.name %></h1>
  </div>

<div style="max-width: 600px;">
    <%= render "form", artist: @artist %>
  </div>
</div>
